@page "/post/{postId:int}"
@using Markdig
@using christian80gabi.github.io.Models


<section class="ftco-section">
    <div class="container">
        @if (PostId != null && Post != null)
        {
            @RenderMarkdown(Post.MarkdownContent)
        }
        else
        {
            <Spinner />
        }
    </div>
    <div class="container shadow mt-5 pt-5 pb-5 rounded" data-aos="fade-in">
        <div class="text-center" >
            <p class="mb-0"><a href="blog-internal" class="btn btn-primary py-3 px-5">More posts</a></p>
        </div>
    </div>
</section>


@code {
    [Parameter]
    public int? PostId { get; set; }
    private static Post? Post { get; set; }
    private List<Post> Posts { get; set; } = Post.Posts;
    private string? Html { get; set; }

    protected override void OnInitialized()
    {
        if (PostId == null) return;
        foreach (var post in Posts.Where(post => post.Id == PostId))
        {
            Post = post;
        }
    }

    private RenderFragment RenderMarkdown(string markdownContent)
    {
        var parsed = Markdown.Parse(markdownContent);
        Html = parsed.ToHtml();
        return builder => builder.AddContent(0, new MarkupString(Html));
    }
}
