@using christian80gabi.github.io.Models
@inject HttpClient Http

@page "/contact"

<PageTitle>Contact</PageTitle>

<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center" data-aos="fade-in">
                <h1 class="big big-2">Contact</h1>
                <h2 class="mb-4">Contact Me</h2>
                <p>I am always open to new challenges and opportunities. So, let's start by saying <span class="text-success">Hi</span>!</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                
                    <div class="card shadow p-4 my-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title mb-5">Get in touch</h5>
                            <div class="card-text">
                                <dl class="row">
                                    <dt class="col-sm-3"><i class="bi bi-yin-yang me-2" style="font-size: 1rem;"></i> Name:</dt>
                                    <dd class="col-sm-9">Christian <i>« Gabi »</i> NANA</dd>

                                    <dt class="col-sm-3"><i class="bi bi-signpost-split-fill me-2" style="font-size: 1rem;"></i> Address:</dt>
                                    <dd class="col-sm-9">Montréal (QC), CA</dd>

                                    <dt class="col-sm-3"><i class="bi bi-telephone-fill me-2" style="font-size: 1rem;"></i> Phone:</dt>
                                    <dd class="col-sm-9"><a class="text-decoration-none" href="tel:@Phone">@Phone</a></dd>
                                    
                                    <dt class="col-sm-3"><i class="bi bi-envelope-at-fill me-2" style="font-size: 1rem;"></i> Email:</dt>
                                    <dd class="col-sm-9"><a class="text-decoration-none" href="mailto:@Email">@Email</a></dd>
                                    
                                    <dt class="col-sm-3"><i class="bi bi-linkedin me-2" style="font-size: 1rem;"></i> LinkedIn:</dt>
                                    <dd class="col-sm-9"><a class="text-decoration-none" href="@LinkedIn">in/christian-gabriel.nana</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="container-sm shadow p-4 my-3 h-100" data-aos="fade-in">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="form-name" class="form-label">Your Name</label>
                                <input type="text" class="form-control" id="form-name">
                            </div>
                            <div class="col-md-6">
                                <label for="form-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="form-email">
                            </div>
                            <div class="col-12">
                                <label for="form-subject" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="form-subject" placeholder="Subject">
                            </div>
                            <div class="col-12">
                                <textarea name="message" id="form-message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary py-3 px-5">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <h2 class="my-5 text-center">Or use the form below for a <span class="text-success">Devis in 48 hours</span></h2>
    <div class="container-sm shadow p-4 my-5 rounded" data-aos="fade-in">

        <div style="width:100%; height:100%; min-width:640px; min-height:480px">

            <iframe width="1920px" height="1080px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__Qv2FPRUQkNYTklJUk9QRDE0NDdMNVUwSDhFN1BKRC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

        </div>
    </div>

</section>


@code {
    private string? Phone { get; set; }
    private string? Email { get; set; }
    private string? Behance { get; set; }
    private string? LinkedIn { get; set; }
    private string? GitHub { get; set; }
    private string? Twitch { get; set; }
    private string? Spotify { get; set; }

    private SocialMediaLink[]? _links;
    private Dictionary<string, string>? _socialMedias;

    protected override async Task OnInitializedAsync()
    {
        _links = await Http.GetFromJsonAsync<SocialMediaLink[]>("data/links.json");

        if (_links != null)
        {
            _socialMedias = new Dictionary<string, string>();
            foreach (var link in _links)
            {
                try
                {
                    _socialMedias.Add(link.Title, link.Link);
                }
                catch (ArgumentException)
                {
                    Console.WriteLine($"An element with Key = \"{link.Title}\" already exists.");
                }
            }

            try
            {
                Email = _socialMedias["Email"];
                Behance = _socialMedias["Behance"];
                LinkedIn = _socialMedias["LinkedIn"];
                GitHub = _socialMedias["GitHub"];
                Phone = _socialMedias["Phone"];
                Twitch = _socialMedias["Twitch"];
                Spotify = _socialMedias["Spotify"];
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }
    }
}
