@page "/"
@using System.Globalization

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="mb-3 lh-1">
        <div class="display-1 fw-bolder mb-0" style="color: #192c86;">Christian G. NANA</div>
        <div class="hstack gap-3">
            <div class="fs-1" style="color: #6f2eea;">-</div>
            <small class="text-muted">christian80gabi</small>
        </div>
    </div>

    <div>
        <h3 class="font-monospace">
            Hi, I'm 
            <span class="type">
                <span>
                    <span>an Information Systems Engineer</span>
                    <span>a Web Developer</span>
                    <span>a UI/UX Designer</span>
                    <span>a Perfectionist</span>
                </span>
            </span>
        </h3>
        <br>
        <div class="font-monospace mb-4">
            A passionate technology enthusiast with a keen interest in staying up-to-date with the latest developments
            in the field & a strong believer in continuous learning.
        </div>
    </div>

    <div class="text-dark bg-opacity-25 p-2 rounded-5 text-center" style="background-color: #6f2eea">

        <figure class="figure" style="max-height: fit-content;">
            <img src="images/avatar.png" class="figure-img img-fluid rounded" alt="Avatar"
                style="max-width: 100%; object-fit: cover; height: calc(100vh - 500px);" />
            <figcaption class="figure-caption"></figcaption>
        </figure>

    </div>
</div>

<footer class="footer mt-auto py-3 bg-body-tertiary">
    <SocialMedia />
</footer>
