@page "/"

<PageTitle>Index</PageTitle>

<div class="container text-center">
    <h2 class="display-1 text-success fw-bolder">Christian G. NANA</h2>
    <h3 class="lead fw-bolder">Software engineer & Graphic Designer</h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus placeat architecto iusto
        laboriosam voluptates harum repellendus ad debitis ipsa alias similique culpa impedit, optio quidem cumque.
        Doloremque, ea accusantium!
    </p>

    <div class="bg-success text-dark bg-opacity-25 p-2 rounded-5">

        <figure class="figure" style="max-height: fit-content;">
            <img src="images/avatar.png" class="figure-img img-fluid rounded" alt="Avatar" />
            <figcaption class="figure-caption"></figcaption>
        </figure>

    </div>

</div>
<SocialMedia Title="christian80gabi © 2023" />
