body,
html {
    height: 100dvh;
    margin: 0;
}

.type {
    display: inline-block;
}

.type>span {
    display: grid;
    overflow: hidden;
    height: 1.2em;
}

.type span span {
    width: 0;
    max-width: max-content;
    overflow: hidden;
    height: inherit;
    word-break: break-all;
    animation:
        c 0.5s infinite steps(1),
        t 2s linear infinite alternate,
        m 16s steps(4) infinite;
}

.type span span:before {
    content: " ";
    display: inline-block;
}

@keyframes t {

    90%,
    100% {
        width: 100%
    }
}

@keyframes c {

    0%,
    100% {
        box-shadow: 5px 0 0 #0000
    }

    50% {
        box-shadow: 5px 0 0 #780c93
    }
}

@keyframes m {
    100% {
        transform: translateY(-400%)
    }
}

.typewriter {
    /* font-size: 2.5rem; */
    overflow: hidden;
    /* Ensures the text is not visible outside of the container */
    border-right: .15em solid #780c93;
    /* Creates the typewriter cursor effect */
    white-space: nowrap;
    /* Prevents the text from wrapping onto a new line */
    letter-spacing: .15em;
    /* Adds spacing between the characters */
    width: 0;
    animation:
        typing 3s steps(25, end) forwards;
    /* animation: typing 15.5s steps(40, end), blink-caret .75s step-end infinite; */
}

.typewriter2 {
    /* font-size: 2.5rem;  */
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:
        typing 3s steps(25, end) forwards;
    animation-delay: 3s;
}

.typewriter3 {
    /* font-size: 2.5rem;  */
    overflow: hidden;
    border-right: .15em solid greenyellow;
    white-space: nowrap;
    width: 0;
    animation:
        typing 3s steps(25, end) forwards;
    animation-delay: 6s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: #780c93;
    }
}