@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://linkedin.com/christian-gabriel-nana/" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="LinkedIn">
                <img src="icons/linkedin.svg" alt="Linkedin" height="25" />
            </a>
            <a href="https://behance.net/christiangabi/" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Behance">
                <img src="icons/behance.svg" alt="Behance" height="25" />
            </a>
            <a href="https://github.com/christian80gabi/" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="GitHub">
                <img src="icons/github.svg" alt="GitHub" height="25" />
            </a>
            <a href="https://instagram.com/christian80gabi/" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Instagram">
                <img src="icons/instagram.svg" alt="Instagram" height="25" />
            </a>
            <a href="https://facebook.com/christian80gabi2/" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Facebook">
                <img src="icons/facebook.svg" height="25" alt="Facebook">
            </a>
            <a href="https://twitter.com/christian80gabi/" target="_blank" data-bs-toggle="tooltip"
                data-bs-placement="bottom" data-bs-title="Twitter">
                <img src="icons/twitter.svg" alt="Twitter" height="25" />
                @* <svg width="30" height="30" fill="currentColor">
                <use href="icons/bootstrap-icons.svg#twitter"></use>
                </svg> *@
            </a>
            <a href="#" class="text-decoration-none pe-none">|</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">
                Made with Blazor <img src="icon-192.png" height="20" />
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
