<div class="alert alert-light mt-4 d-flex justify-content-evenly">
    <a href="https://linkedin.com/christian-gabriel-nana/" target="_blank" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-title="LinkedIn">
        <img src="icons/linkedin.svg" alt="Linkedin" height="25" />
    </a>
    <a href="https://behance.net/christiangabi/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="Behance">
        <img src="icons/behance.svg" alt="Behance" height="25" />
    </a>
    <a href="https://github.com/christian80gabi/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-title="GitHub">
        <img src="icons/github.svg" alt="GitHub" height="25" />
    </a>
</div>
<div class="text-center text-muted">
    <strong>@Title</strong>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
