<div class="d-flex align-items-center top-50 start-50">
    <strong role="status">Loading...</strong>
    <div class="spinner-border text-success ms-auto" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@code {
    
}