name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.x

    - name: Build and publish
      run: |
        dotnet build christian80gabi.github.io.csproj -c Release
        dotnet publish christian80gabi.github.io.csproj -c Release -o publish
       
    - name: copy index.html to 404.html
      run: cp publish/wwwroot/index.html publish/wwwroot/404.html
    
    - name: Add .nojekyll file
      run: touch publish/wwwroot/.nojekyll

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        ssh-key: ${{ secrets.DEPLOY_KEY }}
        token: ${{ secrets.ACCESS_TOKEN }}
        branch: gh-pages
        commit-message: 'Publishing Blazor WebAssembly to GitHub Pages'
        folder: publish/wwwroot
        clean: true
        force: true
        
# dotnet publish christian80gabi.github.io.csproj -c Release -o publish --nologo
# dotnet publish christian80gabi.github.io.csproj -o:public -c:Release
